@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Futura PT", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.container {
  max-width: ;
  padding-left: ;
  padding-right: ;
  margin-left: auto;
  margin-right: auto;
}

/*===== GENERAL STYLES ended =====*/


/*===== HEADER part styles started =====*/
/*===== HEADER part srtyes ended =====*/


/*===== MAIN part styles started =====*/

/*===== FIRST SECTION styles started =====*/
/*===== FIRST SECTION styles ended =====*/

/*===== SECOND SECTION styles started =====*/
/*===== SECOND SECTION styles ended =====*/

/*===== THIRD SECTION styles started =====*/
/*===== THIRD SECTION styles ended =====*/

/*===== FOURTH SECTION styles ended =====*/
/*===== FOURTH SECTION styles started =====*/

/*===== MAIN part styles ended =====*/


/*===== HEADER part styles started =====*/
/*===== HEADER part styles ended =====*/
