@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Futura PT", "Arial", sans-serif;
  background-color: #fff;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-header, .site-footer {
  flex-shrink: 0;
}

.site-main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*===== GENERAL STYLES ended =====*/


/*===== HEADER part styles started =====*/

/*===== HEADER part FIRST SECTION styles started =====*/
.header-first-section {
  background-color: #e5e5e5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-first-container {
  padding-left: 215px;
}

.header-container > *:not(:last-child){
  margin-right: 50px;
}

.header-address {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
}

.header-address::before, .footer-address::before {
  content: "";
  margin-right: 10px;
  background-image: url("../img/vector.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /* since the element in the pseudo was flex-child, it was not given a display feature */
}

.header-address::before {
  width: 14px;
  height: 14px;
}

.header-hotlines-wrapper {
  display: flex;
}

.header-hotlines-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-right: 10px;
  white-space: nowrap;
}

.header-first-hotlines::before, .header-second-hotlines::before, .header-third-hotlines::before {
  content: "";
  margin-right: 10px;
  /* since the element in the pseudo was flex-child, it was not given a display feature */
}

.header-first-hotlines::before {
  width: 13px;
  height: 13px;
  background-image: url("../img/phone.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.header-second-hotlines::before, .header-third-hotlines::before {
  width: 4px;
  height: 4px;
  background-color: #ffc351;
  border-radius: 50%;
}

.working-time {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.working-time::before {
  content: "";
  width: 12px;
  height: 14px;
  margin: 10px;
  background-image: url("../img/schedule.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /* since the element in the pseudo was flex-child, it was not given a display feature */
}

.regular-working-days {
  margin-right: 17px;
}

.week-days {
  font-weight: 700;
}
/*===== HEADER part FIRST SECTION styles ended =====*/

/*===== HEADER part SECOND SECTION styles started =====*/
.header-second-section {
  background-color: #fff;
}

.site-logo-link {
  position: relative;
  z-index: 1;
}

.site-logo-image {
  display: block;
  width: 158px;
  height: 76px;
}

.site-logo-image:hover {
  opacity:  0.8;
}

.site-logo-image:active {
  opacity:  0.6;
}

.site-logo-image-header {
  position: absolute;
  z-index: 1;
  transform: scale(1.1);
  transition: opacity 0.2s ease;
}

.features-list {
  list-style-type: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.features-link {
  display: flex;
  align-items: center;
  padding: 19px 27px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  transition: background-color 0.2s ease,
  opacity 0.2s ease;
}

.features-link:hover {
  background-color: #ffc351;
}

.features-link:active {
  opacity: 0.7;
}

.active::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 12px;
  background-image: url("../img/active.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /* since the element in the pseudo was flex-child, it was not given a display feature */
}

.question-button {
  display: flex;
  align-items: center;
  padding: 22px 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.question-button::before {
  content: "";
  width: 23px;
  height: 21px;
  margin-right: 5px;
  background-image: url("../img/pet.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: background-color 0.2s ease,
  opacity 0.2s ease;
}

.question-button:hover {
  background-color: #333333;
  color: #fff;
}

.question-button:active {
  opacity: 0.6;
}

/*===== HEADER part SECOND SECTION styles ended =====*/


/*===== HEADER part FIRST SECTION styles started =====*/

.address {
  font-style: normal;
  font-weight: 500;
  color: #333333;
}
/*===== HEADER part srtyes ended =====*/


/*===== MAIN part styles started =====*/

/*===== FIRST SECTION styles started =====*/
/*===== FIRST SECTION styles ended =====*/


/*===== SECOND SECTION styles started =====*/
/*===== SECOND SECTION styles ended =====*/


/*===== THIRD SECTION styles started =====*/
/*===== THIRD SECTION styles ended =====*/


/*===== FOURTH SECTION styles started =====*/
/*===== FOURTH SECTION styles ended =====*/


/*===== FIFTH SECTION styles started =====*/
/*===== FIFTH SECTION styles ended =====*/


/*===== SIXTH SECTION styles started =====*/

.feedback-section {
  display: flex;
  margin-top: 265px;
  margin-bottom: 247px;
  background-image: url("../img/feedback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.map-link, .map-image {
  width: 462px;
  height: 652px;
}

.map-image {
  display: block;
  object-fit: cover;
}

.feedback-box {
 margin-left: 166px;
 margin-top: 62px;
 width: 375px;
 color: #fff;
}

.feedback-title {
  font-size: 48px;
  line-height: 62px;
  margin-top: 0;
  margin-bottom: 14px;
}

.feedback-description {
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-top: 0;
  margin-bottom: 29px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-add-field {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  margin-bottom: 14px;
}

.feedback-message-fild {
  height: 165px;
  margin-bottom: 30px;
  resize: none;
  padding: 17px 22px;
}

/*===== SIXTH SECTION styles ended =====*/

/*===== MAIN part styles ended =====*/


/*===== FOOTER part styles started =====*/
.site-footer {
  background-color: #e5e5e5;
  padding-top: 54px;
  padding-bottom: 23px;
}

.footer-sub-container {
  display: flex;
}

.features-list-footer-wrapper {
  display: flex;
  min-width: 288px;
  margin-left: 67px;
}

.features-list-footer {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.features-list-footer:first-of-type {
  margin-right: 87px;
}

.features-item-footer:not(:last-child) {
  margin-bottom: 14px;
}

.features-link-footer {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px; /*har ehtimolga qarshi*/
  line-height: 21px;
  color: #333333;
  transition: opacity 0.2s ease;
}

.features-link-footer:hover {
  opacity: 0.8;
}

.features-link-footer:active {
  opacity: 0.6;
}

.working-time-wrapper {
  display: flex;
  align-items: flex-start;
  margin-left: 127px;
}

.working-time-wrapper::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-image: url("../img/schedule.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /* since the element in the pseudo was flex-child, it was not given a display feature */
}

.working-time-footer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  min-width: 122px;
}

.footer-address {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 21px;
  margin-left: 112px;
  min-width: 157px;
}

.footer-address::before {
  width: 16px;
  height: 16px;
}

.footer-hotlines-wrapper {
  display: flex;
  margin-left: 87px;
}

.footer-hotlines-wrapper::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 9px;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.footer-hotlines-sub-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-hotlines-link {
  white-space: nowrap;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #333333;
  text-decoration: none;
}

.copyright-footer {
  text-align: right;
}
/*===== FOOTER part styles ended =====*/


/*===== The section for background images retina screens =====*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  body {
    background-image: url("../img/bg@2x.jpg");
  }

  .header-address::before, .footer-address::before {
    background-image: url("../img/vector@2x.png");
  }

  .header-first-hotlines::before {
    background-image: url("../img/phone@2x.png");
  }

  .working-hours::before {
    background-image: url("../img/schedule@2x.png");
  }

  .active::before {
    background-image: url("../img/active@2x.png");
  }

  .question-button::before {
    background-image: url("../img/pet@2x.png");
  }

  .working-time-wrapper::before {
    background-image: url("../img/schedule@2x.png");
  }

  .footer-hotlines-wrapper::before {
    background-image: url("../img/phone@2x.png");
  }
}
