@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Futura PT", "Arial", sans-serif;
  background-color: #fff;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-header, .site-footer {
  flex-shrink: 0;
}

.site-main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*===== GENERAL STYLES ended =====*/


/*===== HEADER part styles started =====*/
.header-first-section {
  background-color: #e5e5e5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-container > *:not(:last-child){
  margin-right: 50px;
}

.header-address::before, .footer-address::before {
  content:
}

.address {
  font-style: normal;
}
/*===== HEADER part srtyes ended =====*/


/*===== MAIN part styles started =====*/

/*===== FIRST SECTION styles started =====*/
/*===== FIRST SECTION styles ended =====*/

/*===== SECOND SECTION styles started =====*/
/*===== SECOND SECTION styles ended =====*/

/*===== THIRD SECTION styles started =====*/
/*===== THIRD SECTION styles ended =====*/

/*===== FOURTH SECTION styles ended =====*/
/*===== FOURTH SECTION styles started =====*/

/*===== MAIN part styles ended =====*/


/*===== HEADER part styles started =====*/
/*===== HEADER part styles ended =====*/


/*===== The section for background images retina screens =====*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  body {
    background-image: url("../img/bg@2x.jpg");
  }

}
